# dependencies
node_modules

# build output
/server/dist
/frontend/dist

# env files
.env
.env.local
*.env

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*
pnpm-debug.log*

# ide
.claude/
